* {
    margin: 0px;
    padding: 0px;
    font-family: 'Russo One', sans-serif;
}

/*-- Navbar styling --*/

.header {
    background-image: linear-gradient(-90deg, black, #001684);
}

.nav-link {
    font-size: 16px;
    margin: 3px;
    color: #fff !important;
    font-weight: 500;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa {
    color: #fff!important;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 1000px) {
    .nav-link:hover {
        border-bottom: none!important;
    }
}

/*-- heroimage Styling --*/

.heroimage{
    background-image: url('../img/jumbotronimg.png');
    background-size: contain;
    width: 100%;
    padding-top: 66.6666667%;
    background-repeat: no-repeat;
}


/*-- Gym Cards styling --*/

#Goals {
    background-color: #fff;
}

#Goals h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#Goals p {
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    padding: 25px 0px;
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card {
    margin: 20px 10px;
}

/*-- Gym training schedule Table Styling --*/

.table {
    background-image: linear-gradient(-90deg, black, #001684);
    margin-bottom: 80px;
}

@media (max-width: 350px){
    .table{
        font-size: 12.5px;
}
}
#schedule {
    background-color: #fff;
}

#schedule h1 {
    font-weight: 900;
    font-size: 34px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#schedule p {
    font-family: 'Roboto', sans-serif;
}

/*-- Footer Styling --*/

.page-footer{
    background-color: black;
}

.sociallinks{
    background-image: linear-gradient(-90deg, black, #001684);
}

.footerbg{
    background-color: black;
}

.hr {
    width: 90px;
    height: 2px;
    background-color: #001684;
}

.footerheader{
    color: #fff;
}

.mt-2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.my-2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.hrhours{
    width: 60px;
    height: 2px;
    background-color: #001684;
}

.hrcontact{
    width: 75px;
    height: 2px;
    background-color: #001684;
}

/*-- signup form Styling --*/

.get_in_touch{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
}

.get_in_touch .title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #001684;
}

.signmessage{
    font-family: 'Roboto', sans-serif;
}

.contact-form .form-field{
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #001684;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-24px);
}
.contact-form .input-text:focus{
    outline: none;
}

.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #001684;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}

.contact-form .submit-btn{
    display: inline-block;
    background-image: linear-gradient(125deg, black, #001684);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}